.contact-page-banner-contact {
    height: 16vh;
    background-color: #005aab;
}

.page-hero-banner:before {
    background-color: #005aab !important;

}

.page-hero-banner {
    background-image: none !important;
}

.contact-link {
    margin-right: 15% !important;
    color: #F2B90F !important;
    padding-top: 1%;
}

.contact-title {
    margin-right: 15% !important;
    color: white !important;
    text-align: right !important;
    font-weight: 500 !important;
}

.contact-details {
    font-weight: 500;
    color: black;
    text-align: center;
    margin-top: 2%;
}

.contact-message {
    text-align: center;
}

.contact-page-address {
    display: flex;
    justify-content: center;
    /* height: 20vh; */
    height: fit-content;
    gap: 45px;
    margin-top: 5%;
}
.contact-number {
    background-color: #005aab;
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2% 6%;
    height: fit-content;
    min-width: 245px;
}

/* .address-icon {
    /* fill: #F2B90F; */
    /* text-align: center;
    width: 63%;
    /* height: 100%;
    padding-top: 15%;
} */

/* .icon-container {
    width: 20%;
    height: 20%;
} */



.first-address {
    color: white;
    font-weight: 500;
    text-align: center;
    padding-top: 11%;
    direction: ltr;
}

.second-address {
    text-align: center;
    color: white;

}

.contact-page-form {
    background-color: rgb(249 252 255);
    margin-top: 6%;
    min-height: 70vh !important;
    height: auto;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    width: 100%;
}

.contact-page-form form {
    height: fit-content;
}





input:focus~label,
textarea:focus~label,
input:valid~label,
textarea:valid~label {
    font-size: 0.75em !important;
    color: #999 !important;
    top: 0px !important;
    -webkit-transition: all 0.225s ease !important;
    transition: all 0.225s ease !important;
}

.styled-input {

    position: relative !important;
}




form .input-container .line{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 30px;
}

form .input-container .column-6{
    width: 50%;
}

.column-12{
    width: 100%;
}

.styled-input label {
    color: #999 !important;
    position: absolute !important;
    top: 20px !important;
    right: 20px !important;
    -webkit-transition: all 0.25s ease !important;
    transition: all 0.25s ease !important;
    pointer-events: none !important;
}


input,
textarea {
    /* padding: 20px !important;  */
    width: 100% !important;
    font-size: 1rem !important;
    border-radius: unset !important;
    border: 1px solid #005aab !important;
    /* padding: 0 !important; */
    padding-left: 20px !important;
}
input{
    height: calc(83px*.8) !important;
}

textarea{
    height: calc(356px*.8);
}


input:focus,
textarea:focus {
    outline: 0 !important;
}

input:focus~span,
textarea:focus~span {
    width: 100% !important;
    -webkit-transition: all 0.075s ease !important;
    transition: all 0.075s ease !important;
}

textarea {
    width: 100% !important;
    min-height: 15em !important;
}

/* .input-container {
    width: 650px !important;
    max-width: 100% !important;
    margin: 20px auto 25px auto !important;
} */

.input-container {
    width: 70% !important;
    display: inherit;
    margin: auto;
}

.submit-btn button {
    background-image: unset;
    float: right !important;
    padding: 12px 33px !important;
    display: inline-block !important;
    background-color: #005aab !important;
    color: white !important;
    font-size: 18px !important;
    cursor: pointer !important;
    box-shadow: 0 2px 5px 0 rgba(2, 1, 53, 0.06),
        0 2px 10px 0 rgba(2, 1, 53, 0.06) !important;
    -webkit-transition: all 300ms ease !important;
    transition: all 300ms ease !important;
    border-radius: 0;
    border: none;
    text-shadow: none;

}

.submit-btn button:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(81, 81, 228, 0.1),
        0 1px 1px 0 rgba(81, 81, 228, 0.1) !important;
    background-color: unset;
    background-image: unset !important;
}



@media (max-width: 767px){


    form .input-container .column-6 {
        width: 100%;
    }

    
.styled-input {
    margin-bottom: 5%;
}
form .input-container .line {
    display: block;
}
.page-hero-banner {
    padding: 2px 51px;
}
.contact-link {
    margin-left: 4% !important;
    padding-top: 4%;
}
.contact-title {
    margin-right: 12% !important;
    font-size: 26px !important;
}
.contact-message {
    text-align: center;
    /* width: 57%; */
    /* width: 347px; */
    padding: 0 17%;
}
.contact-page-address {
    display: flex;
    /* height: 20vh; */
    height: fit-content;
    gap: 28px;
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
}
.contact-number {
    min-width: 265px;
}
.second-address {
  
    font-weight: 200;
}
.contact-details {
    font-weight: 400;

}
.contact-page-form {
  
    margin-bottom: 58px;
}
}
@media (max-width: 300px){

    .contact-title {
        margin-right: 12% !important;
        font-size: 17px !important;
    }

    .contact-number {
        min-width: 245px;
    }
}