  
  
  /* first-section */
  .first-container {
  background-image: url("/static/mitx/images/assets/banner.png");
  background-repeat: no-repeat;
  width: 100vw !important;
  background-color: #005aab !important;
  background-size: 100% 105%;
  min-height: 79vh !important;
}
.content {
  position: absolute !important;
  color: white !important;
  width: 30vw !important;
  padding: 1rem 12em !important;
  margin-top: 4rem !important;
  padding: 9em 12em !important;
}
  .content h1 {
    color: white !important;
    width: 30vw !important;
    font-size: 3em;
    font-weight: bold;
    text-align: left;
}

.btn {
  background-color: #F2B90F;
  color: #005aab;
  border-radius: unset;
  width: calc(327px*0.8);
  text-transform: none !important;
  padding: 8% 1%;
}
.btn:hover {
  color: #F2B90F !important;
  background-color: #005aab !important;
  background-image: unset !important;
}




  /* panel */

  .panel-container{
    height:9vh; 
 }
 .panel {
   background-color: rgb(231, 228, 228);
   /* margin-bottom: 2rem; */
   color: #005aab;
   height: 13vh;
}
 .panel .row {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 4%;
   padding: 0 12em;
   margin-left: unset !important;
   margin-right:unset !important;
}

.panel .row .col {
 display: flex;
 border-right: 1px solid;
 height: 51px;
 margin-top: 1.7%;
 width: 25%;
}

.last{
   border: none !important;
}
.panel-number {
 font-size: 4em;
 font-weight: 400;
}
.panel-description {
   width: 39% !important;
   font-size: 1.3em;
   margin-top: 4%;
   margin-left: 7%;
}














/* second section */

.under-title{
  margin-left: 35%;
}
.under-title2{
  margin-left: 20%;
}
.under-title3{
  margin-left: 10%;
}
.under-title4{
  margin-left: 5%;
}
.second-section-title {
  font-weight: 500;
  margin-top: 4%;
 }

.second-section {
    margin-top: 2%;
    /* margin-bottom: 3%; */
}

.home-page-cards {
  display: flex;
  justify-content: space-between;
  height: 23vh;
  margin-top: 4%;
  gap: 4%;
  padding: 0 12em;
  margin-bottom: 4%;
}

.one-card {
    width: 25%;
    display: flex;
    flex-direction: column;
    border: 1px solid #d9edff;
    height: fit-content;
    box-shadow: 0px 0px 2px 0px #005aab;
}

/* .account-icon {
    fill: #005aab;
    text-align: center;
    width: 100%;
    height: 86%;
    padding-top: 7%;
} */

.icon-container {
  width: 28%;
  /* height: 28%; */
  background-color: #e6ecff;
  margin-left: 3%;
  margin-top: 5%;
  border-radius: 9px;
  padding: 3% 6%;
  /* height: fit-content; */
  height: 78px;
}
.first-address {
  color: black;
  font-weight: 500;
  text-align: left;
  padding-top: 7%;
  padding-left: 3%;
  font-size: 1.2em;
}

.second-address {
    text-align: left;
    color: black;
    margin-left: 3%;
    margin-right: 9%;
    font-size: 14px;
}
.about {
  padding-left: 12em;
}

.about-section {
  display: flex;
  background-color: rgb(249 252 255);
  justify-content: space-between;
  height: 60vh;
}

.title {
  color: #005aab;
  margin-top: 7%;
  font-weight: 200;
  font-size: 19px;
  padding-top: 2%;
}
.subtitle {
  font-weight: 600;
  width: 100%;
}

.about-content {
  width: 83%;
}
.about-list {
  font-weight: 600;
  margin-left: 3%;
}
.about-list li {
display: flex;
}
.about-image {
  /* width: 83% !important; */
  margin-top: 3% !important;
  /* margin-left: 7px; */
  margin-right: 6em;
}


.courses {
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  gap: 7%;
}

.card {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  width: 20rem;
  height: 40vh;
  margin-top: 4%;
  padding: 1% 2%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
.card-image {
  width: 81%;
  margin-top: 10%;
  margin-left: 9%;
  margin-bottom: 9%;
}

.enrol-button {
  width: 32% !important;
  border: unset;
  margin-left: 59%;
  font-weight: 300 !important;
  /* height: fit-content; */
  padding: 4%;
}
.card-title {
  color: grey;
  font-size: 13px;
}
.card-text {
  font-weight: 600;
  font-size: 17px;
  color: #084070;
}

.course-date {
  color: #0b8bff;
  background-color: #e8f4ff;
  width: 51%;
  border-radius: 20px;
  font-size: 13px;
  text-align: center;
  margin-left: 49%;
}

.img-mastercover {
  height: 163.34px;
  position: relative;
  transition: 0.3s;
  width: 100%;
  /* top: 5%; */
  /* margin-left: 9%; */
  margin-bottom: 9%;
}
.img-mastercover:hover {
  opacity: 0.5;
}

.img-mastercover {
  background-image: url(https://images.unsplash.com/photo-1534131707746-25d604851a1f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  border: unset;
}
.img-mastercover:hover .play-button {
  display: flex;
  z-index: 2;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  cursor: pointer;
}

.explore-button {
  background-color: #005aab;
  color: white;
  text-align: center;
  width: 8% !important;
  margin-left: 89%;
  margin-top: -9%;
  padding: 1% 1%;
}

.feedback-card {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  width: 25rem;
  height: 23vh;
  margin-left: 2%;
  margin-top: 4%;
  display: flex;
  margin-bottom: 1%;
}
.feedback-section{
  background-color:rgb(249 252 255) ;
}

.feedback-text {
  width: 50%;
  color: black !important;
  font-size: 15px;
  margin-top: 0%;
}
.user {
  display: flex;
  margin-top: 2%;
}

.user img {
  border-radius: 50%;
  width: 58px;
  height: 54px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #005aab;
}
.feedbacks{
  display:flex;
  justify-content: center;

}


.accordion {
  position: relative;
  margin: 40px 0px 53px 15%;
  width: 60%;
  border-bottom: unset !important;
}
.accordion .item {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  position: relative;
  border: 1px solid #005aab;
  border-radius: 20px;
  margin-bottom: 1%;
}
.accordion .item .accordion-title {
  position: relative;
  padding: 16px 21px 17px 25px;
  border-radius: 20px;
  font-weight: bold;
}
.accordion .item .accordion-title:after {
  content: '+';
  width: 12px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: absolute;
  right: 41px;
  color: #005aab;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  
}
.accordion .item .accordion-title.active:after{
  -webkit-transform:rotate(0);
  transform:rotate(0);
  content: '-'
}
.accordion .item .accordion-title:hover{
  color:#2c618b;
  cursor:pointer
}
.accordion .item .accordion-content{
  display:none;
  margin-bottom: 2%;
  line-height: 19%;
}
.accordion .item .accordion-content p {
  margin-bottom: 0;
  margin-left: 2%;
  color: grey;
  line-height: 1em;
}

.demo{
  display: none !important;
}
.dem{
  display: none !important;
}

.prev-button, .next-button {
  color: #005aab;
  border-color: #005aab;
  background: white;
  border-radius: 0 !important;
  width: 3%;
  font-size: 21px;
}
.w3-section{
  text-align: center;
}

.prev-button,.next-button:hover{
  background:#F2B90F !important;
}
.prev-button,.next-button:active{
  box-shadow:unset !important;
}
.prev-button,.next-button:focus{
  box-shadow:unset !important;
}


.rating {
  width: 85px;
}
.rating input {
float: right;
opacity: 0;
position: absolute;
}
.rating a,
.rating label {
  float:right;
  color: #aaa;
  text-decoration: none;
  -webkit-transition: color .4s;
  -moz-transition: color .4s;
  -o-transition: color .4s;
  transition: color .4s;
}
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a		{
  color: orange;
  cursor: pointer;
}
.rating2 {
  direction: rtl;
}
.rating2 a {
  float:none
}
.rate-enrol {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-top: 5%;
}



  .rating-group {
    display: inline-flex;
  }
  
  .rating__icon {
    pointer-events: none;
  }
  
  .rating__input {
   position: absolute !important;
   left: -9999px !important;
  }

  .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 1rem;
}
  
  .rating__icon--star {
    color: orange;
  }
  
  .rating__icon--none {
    color: #eee;
  }

  .rating__input--none:checked + .rating__label .rating__icon--none {
    color: red;
  }

  .rating__input:checked ~ .rating__label .rating__icon--star {
    color: #ddd;
  }

  .rating-group:hover .rating__label .rating__icon--star {
    color: orange;
  }

  .rating__input:hover ~ .rating__label .rating__icon--star {
    color: #ddd;
  }
  
  .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
     color: #eee;
  }

  .rating__input--none:hover + .rating__label .rating__icon--none {
    color: red;
  }

  .check-list {
    width: 1.5%;
    color: #005aab;
    background-color: #F2B90F;
    border-radius: 116px;
    height: 13px;
    margin-top: 0.5%;
    margin-right: 1%;
}




.image-divs {
  display: flex;
  background-color: #ffffffbf;
  width: 16%;
  border-radius: 7px;
  padding: 1em 1em;
  gap: 10px;
  align-items: flex-end;
  position: absolute;
  right: 35%;
  top: 9%;
}


.icon-image {
  width: 65%;
  fill: #005aab;
}
.title-image {
  margin-top: 1%;
  margin-left: 0.5%;
  font-size: 1.2em;
  color: #005aab;
}
.icon-image-container {
  width: 34px;
  background-color:#F2B90F;
  border-radius: 10px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity:1;
}
.div-two {
  position: absolute !important;
  right: 8% !important;
  top: 16% !important;
}
.number-two{
  background-color:rgb(102, 224, 102) !important;
}
.number-three{
background-color:#0b8bff !important;
}
.div-three {
  position: absolute !important;
  right: 4% !important;
  top: 5% !important;
}

.training {
  padding: 0 12em !important;
}

.panel .row:before,.panel .row:after{
  content:unset;
}

















/* responsiveness */


@media (min-width: 768px) and (max-width: 1024px){
/* first-container */
.content {
  width: 38vw !important;
  padding: 1rem 12em !important;
  margin-top: 3rem !important;
  padding: 11em 3em !important;
}
.content h1 {
color: white !important;
width: 41vw !important;
font-size: 2em;
font-weight: bold;
text-align: left;
}
.btn {
background-color: #F2B90F;
color: #005aab;
border-radius: unset;
width: calc(220px*0.8);
text-transform: none !important;
/* padding: 10% 6%; */
}
/* Panel */
.image-divs {
  display: flex;
  background-color: #ffffffbf;
  width: 30%;
  border-radius: 7px;
  padding: 1em 1em;
  gap: 10px;
  align-items: flex-end;
  position: absolute;
  right: 35%;
  top: 9%;
}
.panel .row {
display: flex;
flex-direction: row;
justify-content: space-between;
gap: 4%;
padding: 2em 3em;
margin-left: unset !important;
margin-right: unset !important;
}
.panel-number {
font-size: 2em;
font-weight: 400;
}
.panel-description {
width: 96% !important;
font-size: 0.9em;
margin-top: 4%;
margin-left: 7%;
}
.panel .row .col {
display: flex;
border-right: 1px solid;
height: 23px;
margin-top: 0.7%;
width: 25%;
}
  
}



@media (min-width: 1024px){

  
}


@media (min-width: 1280px){
  

}


@media (max-width: 767px){
/* first-container */
.content {
    width: 38vw !important;
    padding: 1rem 12em !important;
    margin-top: 3rem !important;
    padding: 11em 3em !important;
}
.content h1 {
  color: white !important;
  width: 41vw !important;
  font-size: 2em;
  font-weight: bold;
  text-align: left;
}
.btn {
  background-color: #F2B90F;
  color: #005aab;
  border-radius: unset;
  width: calc(220px*0.8);
  text-transform: none !important;
  /* padding: 10% 6%; */
}
/* Panel */
.image-divs {
  display: flex;
  background-color: #ffffffbf;
  width: 43%;
  border-radius: 7px;
  padding: 1em 1em;
  gap: 10px;
  align-items: flex-end;
  position: absolute;
  right: 35%;
  top: 9%;
}

.panel .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4%;
  padding: 2em 3em;
  margin-left: unset !important;
  margin-right: unset !important;
}
.panel-number {
  font-size: 1.7em;
  font-weight: 400;
}
.panel-description {
  width: 96% !important;
  font-size: 0.7em;
  margin-top: 4%;
  margin-left: 7%;
}
.panel .row .col {
  display: flex;
  border-right: 1px solid;
  height: 23px;
  margin-top: 0.7%;
  width: 25%;
}


}