
/* Login and Register */
.login-register-view .login-register-content #login-and-registration-container {
    width: 100% !important;
    margin: 0 !important;
    max-width: unset !important;
}

.login-register-view .content-wrapper {
    background-image: none !important;
    background-color: none !important;
    /* width:100% !important;
    height:92vh !important; */
    padding: 0 !important;
    /* overflow-y:hidden !important ; 
    overflow-x: hidden !important; */
}
.login-register-view .content-wrapper:after {
    background: #fff !important;}

#main{
    max-width:none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;

}

.login-register-content #login-and-registration-container .form-type #register-form {
    box-shadow: none !important;
    width: 80% !important;
    margin-right: 4% !important;
}
.login-register-content #login-and-registration-container .form-type #login-form {
    box-shadow: none !important;
    width: 40% !important;
    margin-left: 21% !important;
    margin-right: 10%;

}
.form-title1{
float: right;
}
.textor {
    color: grey !important;
    
}
.textnew {
    color: grey !important;
    
}

.titleOr {
    overflow: hidden !important;
    text-align: center !important; 
  }
  
  .titleOr :before,
  .titleOr :after {
    background-color:rgb(190, 184, 184)  !important;
    content: "" !important;
    display: inline-block !important;
    height: 1px !important;
    position: relative  !important;
    vertical-align: middle  !important;
    width: 50% !important;
  }
  
  .titleOr :before {
    right: 0.5em !important;
    margin-left: -50% !important;
  }
  
  .titleOr :after {
    left: 0.5em !important;
    margin-right: -50% !important;
  }

.login-register-content #login-and-registration-container .form-type .form-wrapper .action-primary {
    background-color: #005aab !important;
    border-color: #005aab !important;
}


.login-register-content #login-and-registration-container .form-type .form-wrapper .toggle-form {
/* 
    padding-top: 3% !important;
    padding-left: 11% !important; */
}








/* login  */

.left-section {
    width: 100% !important;
}

.login-welcome-container {
    background-image: url("/static/mitx/images/assets/login.png") ;    
        width: 54%;
        height: 92vh;}
.login-welcome-container h1 {
    color: white;
    font-weight: bold;
    margin-top: 48%;
    font-size: 49px;
    width: 30%;
    text-align: right;
    padding-right: 13%;
  
} 
.login-welcome-container p {
    color: white;
    font-size: 17px;
    width: 43%;
    line-height: 1.3em;
    margin-left: 20%;
margin-right: 15%;}

div#login-form h2.form-title1 {
    text-align: start !important;
}
#login-anchor{
    display: flex;
    justify-content: space-between;
    width: 100% !important;
    max-width: 100% !important;
    background: none !important;
}


/* Register */
.right-section{
    margin-right: 12%  !important;
    /* width:55%;
    padding-top:0;
    max-height: fit-content !important; */
}
.register-welcome-container {
    background-image: url("/static/mitx/images/assets/register.png");
    /* height: 68vh;
    padding-right: 60% !important;
    margin-left: 150%;
    padding-left: 21%;
    padding-top: 49%; */
}

#register-anchor {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
    max-width: unset !important;
    background: none !important;

}
.register-welcome-container h1 {
    color: white;
    font-weight: bold;
    margin-top: 48%;
    font-size: 49px;
    width: 51%;
    text-align: right;
    padding-right: 13%;
}
.register-welcome-container p {
    color: white;
    font-size: 17px;
    width: 43%;
    line-height: 1.3em;
    margin-right: 20%;
}

/* Responsiveness */



@media (min-width: 768px){

    .right-section{
        margin-right:2% !important;
        
    }
    .register-welcome-container {
        width:35% !important;
    }
    .login-register-content #login-and-registration-container .form-type #register-form {
        margin-right: 8% !important;
    }
}



@media (min-width: 1024px){
  
    /* Register */
    .right-section{
        margin-right:2% !important;
        
    }
    .register-welcome-container {
        width:42% !important;
    }


    /* Login */
  
}


@media (min-width: 1280px){
      /* Register */

    .right-section{
        margin-right:12% !important;
    }
    .register-welcome-container {
        width:35% !important;
    }

    /* Login */
  
}


@media (max-width: 767px){
    /* Register */

    .right-section{
        margin-right:2% !important;
        
    }
    .register-welcome-container {
display: none;    }

    /* Login */
   
    .login-welcome-container{
        display: none;
    }


    
}
