<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<style>p, ul{font-size: small;}</style>
<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
    <h1>${_("Privacy policy")}</h1>

<p>${_("The privacy and security of your personal information are of significant importance to e-learning cawtar. Any information about yourself that you can provide to us when using the Site, for example when you register for a user account or make a transaction through the Site, which may include (but not limited to) your name, contact details, gender, date of birth, and occupation, must collectively be referred to as personal information. Moreover, any reference to we, us and our is considered a reference to e-learning cawtar.")}</p>
<p>${_("We will use reasonable commercial efforts to keep your personal information secure in accordance with this Privacy Policy.")}</p>
<p>${_("This privacy policy applies only to information that we collect on e-learning cawtar website (the Site, which consists of all content and pages located within edraak.org web-domain), and does not apply to information that we may collect from you in other ways.")}</p>

<h2>${_("Consent to the transfer of personal information")}</h2> 
<p>${_("You consent to the collection, use, disclosure and retention by e-learning cawtar of your personal information, as described in the present Privacy Policy, including, but not limited to, the transfer of your personal data between e-learning cawtar and third parties, affiliates and subsidiaries.")}</p>
<p>${_("Any consent relating to the right to transfer information referred to in this paragraph shall be deemed to include your consent to the transfer of personal information applicable to a different jurisdiction, which may provide a level of protection of privacy different from that available in your own country. ")}</p>

<h2>${_("Information we collect and how we use it")}</h2>
<p>${_("We collect information, including personal information, when you register for a user account, participate in online courses, send us emails, and/or take part in our public forums. We also collect information about student performance and learning profiles. In addition, we track information that displays records, such as which pages on our Site were visited, when they were visited, the order in which they were visited, and the hyperlinks and other user interface controls used.")}</p>
<p>${_("We may record the IP address, operating system, and browser software used by each user. We may determine, from the IP address, the user’s Internet service provider and the geographic location of its connectivity point.")}</p>

<p>${_("Various web analysis tools are used to collect this information, but some information is collected by cookies. You should be able to control how and if cookies will be accepted by your web browser. Most browsers provide instructions on how to reset the browser to reject cookies in the Help section of the toolbar. If you decline our cookies, many functions and features of this Site may not work properly. ")}</p>

<h2>${_("Disclosure to third parties")}</h2>
<p>${_("Among other things, we and educational partners, who provide lessons through e-learning cawtar, use your information that will be collected through the Site (including your personal information). In the event that we share or disclose your personal information to third parties, third party recipients are required to handle such personal information confidentially. They shall maintain adequate security to protect the information against any loss, misuse, unauthorized access or disclosure, alteration, or destruction.")}</p>
<p>${_("We will disclose and share the personal information required by the third party to fulfill the stated purposes at the time of collection. For example :")}</p>
		<ul>
			<li>${_("To enable partner educational institutions to deliver, administer and improve courses;")}</li>
			<li>${_("To help us and educational institutions improve e-learning cawtar’s learning opportunities, both individually (e.g. by course staff working with a learner) and in overall terms, and to assess access to, and use of, the Site and the impact of e-learning cawtar on the global education community;")}</li>
			<li>${_("Monitor individual and overall attendance, progress, and completion of an online course, and analyze statistics on student performance and how students are learning;")}</li>
			<li>${_("To publish information, but not personal information, collected on the access, use, impact and performance of e-learning cawtar learners;")}</li>
			<li>${_("To send you updates on online courses offered by e-learning cawtar or other events, send you notifications about e-learning cawtar products or services, e-learning cawtar affiliates or selected business partners who might be of interest to you, or send you messages about Site maintenance or updating;")}</li>
			<li>${_("To conduct scientific research (e.g. in the fields of cognitive science and education);")}</li>
			<li>${_("To archive this information and/or use it for future communication with you.")}</li>
			<li>${_("To maintain and improve the operation and security of the Site and of our software, systems and networks.")}</li>
		</ul>
<p>${_("The information we collect may also be shared with educational institutions. Such information (including personal information) may then be shared with third parties as follows:")}</p>
		<ul>
			<li>${_("Service providers or contractors who perform certain functions on our account or educational institutions, including the processing of information you provide to us on the Site, the operation of the Site or of portions thereof, the provision or administration of courses, or in relation to other aspects of e-learning cawtar or partner institutions’ services.")}</li>
			<li>${_("For scientific research purposes (as indicated above), however, we will only share personal information about you to the extent necessary to fulfill the purposes stated at the time of collection.")}</li>
			<li>${_("Provide opportunities for you to communicate with other users who may have similar interests or educational goals. For example, we may recommend specific study partners or establish links between potential mentees and mentors. In such cases, we may use the information collected about you to determine who might be interested in communicating with you, but we will provide other users only with your username and will not disclose your real name or your email address.")}</li>
			<li>${_("For integration with third party services, some content may be hosted on websites not controlled by e-learning cawtar (e.g. hosting videos on YouTube).")}</li>
		</ul>
<p>${_("In addition, we may share aggregated information that does not personally identify you with the public and with third parties, including, but not limited to, researchers and business partners.")}</p>

<h2>${_("Links to other websites")}</h2>
<p>${_("The Site may contain links to third party websites, including other content providers as well as certain service providers. These other websites are not under our control, and you acknowledge and agree that we are not responsible for the collection and use of your information by such sites, except as otherwise specified in this Privacy Policy. ")}</p>
<p>${_("When you are redirected to a third party website, we encourage you to be aware of and read the Privacy Policy of each website you visit and use.")}</p>

<h2>${_("Privacy Policy changes ")}</h2>
<p>${_("Please note that we periodically revise, and may make changes to, this Privacy Policy. When changes are made, the Privacy Policy link will include the phrase recently revised (date). You should review the new terms, which shall take effect immediately after posting on this page, with an updated date of entry into force. The notification will be included in the Privacy Policy link for at least ten (10) days after the update. ")}</p>
<p>${_("By accessing the Site after changes have been made to it, you signify your agreement on a prospective basis to the amended Privacy Policy, as well as to any changes contained therein. If you miss the notification mentioned above, be sure to return to this page periodically to ensure familiarity with the most recent version of this Privacy Policy.")}</p>


	
	</section>
</main>
